<h1>Time to Battle!</h1>
<h2>Pick your team and sign-in to play.</h2>
<div align="left">
<div style='border: 3px dashed blue'>
<img src= 'http://i.giphy.com/26FxIJDQU6KcJcMEw.gif'>
<img src= 'http://i.giphy.com/VxbvpfaTTo3le.gif'>
</div>
<form action= "/names" method="post">
  <label for="Name">Player1: </label>
  <input type="text" name="player_1_name">
  <label for="Name">Player2: </label>
  <input type="text" name="player_2_name">
    <div class="button">
     <input type="submit" value="Submit" />
 </div>
</form>
