<h1><%= @p1.name %> vs. <%= @p2.name %></h1>
<h2><%= @p2.name %> has <%= @p2.points %> points</h2>

<form action= "/attack">
  <div class="button">
    <input type="submit" value="Attack!" />
</form>
